body {
    margin: 0;
}

.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: rgb(252, 231, 116);
    overflow-x: hidden;
    padding-top: 20px;
}

.sidebar a {
    padding: 6xp 8px 6px 16px;
    text-decoration: none;
    color: maroon;
    display: block;
}

.sidebar a:hover {
  color: green;
}

.main {
    margin-left: 160px;
    padding: 0px 20px;
}

h2 {
    color: maroon;
}

div.app-header {
    display: block;
    background: gold;
}

table {
    border: 1px solid #24943A;
    border-collapse: collapse;
    background-color: #DFFADC;
    text-align: center;
}

td, th {
    border: 1px solid #24943A;
    padding: 2px 4px;
}

tr:nth-child(even) {
    background: #C4DCC1;
}

thead {
    background: #24943A;
    color: white;
    font-weight: bold;
    text-align: center;
    border-left: 1px solid #24943A;
}

td.number {
    text-align: right;
}