body {
    margin: 0;
}

.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: #d4aa7d;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidebar a {
    padding: 6xp 8px 6px 16px;
    text-decoration: none;
    color: maroon;
    display: block;
    text-align: center;
}

.sidebar a:hover {
    color: #90a9b7;
}

.main {
    margin-left: 160px;
    padding: 0px 20px;
}

h2 {
    color: maroon;
}

div.app-header {
    display: block;
    background: #f79d5c;
}

table {
    border: 1px solid #a288a6;
    border-collapse: collapse;
    background-color: #d2d8b3;
    text-align: center;
}

td, th {
    border: 1px solid #a288a6;
    padding: 2px 4px;
}

tr:nth-child(even) {
    background: #efd09e;
}

thead {
    background: #a288a6;
    color: white;
    font-weight: bold;
    text-align: center;
    border-left: 1px solid #a288a6;
}

td.number {
    text-align: right;
}