body {
    margin: 0;
}

h2 {
    color: maroon;
}

div.app-header {
    display: block;
    background: gold;
}

table {
    border: 1px solid #24943A;
    border-collapse: collapse;
    background-color: #DFFADC;
    text-align: center;
}

td, th {
    border: 1px solid #24943A;
    padding: 2px 4px;
}

tr:nth-child(even) {
    background: #C4DCC1;
}

thead {
    background: #24943A;
    color: white;
    font-weight: bold;
    text-align: center;
    border-left: 1px solid #24943A;
}

td.number {
    text-align: right;
}