{% extends 'index.html' %}
{% block data %}
<h2>Centuries</h2>
<table>
    <thead>
        <tr>
            <th>Year</th>
            <th>Code</th>
            <th>Date</th>
            <th>Runs</th>
            <th>Not Out</th>
            <th>Opponents</th>
            <th>Minutes</th>
        </tr>
    </thead>
    <tbody>
        {% for ton in tons %}
        <tr>
            <td class="number">{{ ton.year }}</td>
            <td class="number">{{ ton.code }}</td>
            <td class="number">{{ ton.date }}</td>
            <td class="number">{{ ton.score }}</td>
            <td class="number">{{ ton.notout }}</td>
            <td class="number">{{ ton.opponents }}</td>
            <td class="number">{{ '' if ton.minutes == 0 else ton.minutes }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}