{% extends 'index.html' %}
{% block sidebar %}{{ super() }}{% endblock %}
{% block data %}
<h2>Season Record Details: {{ year }}</h2>
<table>
    <thead>
        <tr>
            <th>Club</th>
            <th>Runs Scored</th>
            <th>Wickets Lost</th>
            <th>Highest</th>
            <th>Lowest</th>
            {% if has_balls %}
                <th>Balls bowled</th>
                <th>Balls received</th>
            {% endif %}
            <th>Wides</th>
            <th>No balls</th>
            <th>Byes</th>
            <th>Leg Byes</th>
        </tr>
    </thead>
    <tbody>
        {% for s in recs %}
        <tr>
            <td >{{ s.club }}</td>
            <td class="number">{{ s.runsscored }}</td>
            <td class="number">{{ s.wicketslost }}</td>
            <td>{{ s.highest }}-{{ s.highestwkts}} {{ 'vs' if s.club == 'TCC' else 'by' }} {{ s.highestopps }}, {{ s.highestdate}}</td>
            <td>{{ s.lowest }}-{{ s.lowestwkts}} {{ 'vs' if s.club == 'TCC' else 'by' }} {{ s.lowestopps }}, {{ s.lowestdate}}</td>
            {% if has_balls %}
                <td class="number">{{ s.ballsbowled }}</td>
                <td class="number">{{ s.ballsreceived }}</td>
            {% endif %}
            <td class="number">{{ s.wides }}</td>
            <td class="number">{{ s.noballs }}</td>
            <td class="number">{{ s.byes }}</td>
            <td class="number">{{ s.legbyes }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}