{% extends 'index.html' %}
{% block data %}
<h2>Season Results Summary</h2>
<table>
    <thead>
        <tr>
            <th>Year</th>
            <th>Played</th>
            <th>Won</th>
            <th>Lost</th>
            <th>Drew</th>
            <th>Tied</th>
            <th>N/R</th>
        </tr>
    </thead>
    <tbody>
        {% for season in seasons %}
        <tr class="{{ loop.cycle('odd', 'even') }}">
            <td class="number">{{ season.year }}</td>
            <td class="number">{{ season.played }}</td>
            <td class="number">{{ season.won }}</td>
            <td class="number">{{ season.lost }}</td>
            <td class="number">{{ season.drawn }}</td>
            <td class="number">{{ season.tied }}</td>
            <td class="number">{{ season.nr }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}